/* Nav styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  list-style: none;
}

.img-class {
  height: 2rem;
}

/* Intro styling */

.intro-container,
.class-container {
  margin-top: 3rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hero_img {
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
}

.intro h1 {
  font-size: 2.2rem;
  line-height: 5rem;
  font-weight: 400;
}

.intro a {
  text-decoration: none;
  color: black;
}

span:hover {
  border-bottom: 2px solid black;
  transition: 0.1s ease;
}

/* Info styling */

.sub-header {
  margin-bottom: 1rem;
}

.class-name {
  color: rgb(82 82 91);
}

.class-info {
  color: rgb(161 161 170);
  margin-bottom: 2rem;
}

hr {
  margin: 5rem;
}

/* Project styling */

.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
