@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}

#root {
  height: 100%; /* Ensures App spans full viewport */
  display: flex;
  flex-direction: column;
}

/* Navbar styles */
.navbar {
  width: 100%;
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
  text-decoration: none;
}

/* Intro styling */
.intro-container {
  width: 70%;
  
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.hero_img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.intro h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  color: #333;
}

.intro h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 2rem;
  color: #333;
}

.intro a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #555555;
}

.intro p {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
}

span {
  border-bottom: 2px solid;
}
